<?xml version="1.0" encoding="UTF-8"?>

<!-- Use rosrun rqt_tf_tree rqt_tf_tree to see the published topics -->

<launch>
  <group ns="derp">
    <param name="tf_prefix" value="tfsucker" />

    <node pkg="tf_test" type="node" name="setter" output="screen">
      <param name="action" value="set"/>
    </node>
  </group>

  <group ns="bumd">
    <param name="tf_prefix" value="tfsuck" />

    <node pkg="tf_test" type="node" name="getter" output="screen" ns="tfsuck">
      <param name="action" value="get"/>
    </node>
  </group>
</launch>
